<template>
  <div class="background">
    <div class="backgroundс__inner">
      <slot></slot>
    </div>
  </div>
</template>



<style lang="scss" scoped>
.background {
  height: 60px;

  background-color: #b80b09;
  display: flex;
  justify-content: center;
}
.background-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  font-size: 17px;
  line-height: 2.14286;
  font-weight: 400;
  display: flex;
}


</style>
