<template>
  <div class="section1">
    <ImageComponent />
    <BackgroundComponent>
      <b-container>        
          <b-row
            style="justify-content: center; margin-top: 15px; color: white"
          >
            <b-col sm="3" v-for="dataBack in dataBack" :key="dataBack.id">{{
              dataBack.name
            }}</b-col>
          </b-row>
       
      </b-container>
    </BackgroundComponent>

    <div class="post-wrapper">
      <b-row style="justify-content: center; margin-top: 15px; color: white">
        <b-col sm="3"><PricingComponent /></b-col>
        <b-col sm="5"><SpecialTextComponent /></b-col>
        <b-col sm="3"><SliderComponent /></b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import ImageComponent from "@/components/ImageComponent.vue";
import BackgroundComponent from "@/components/BackgroundComponent.vue";
import PricingComponent from "@/components/PricingComponent.vue";
import SpecialTextComponent from "@/components/SpecialTextComponent.vue";
import SliderComponent from "@/components/SliderComponent.vue";
import json from "/data.json";

export default {
  name: "BodyContent",
  components: {
    ImageComponent,
    BackgroundComponent,
    PricingComponent,
    SpecialTextComponent,
    SliderComponent,
  },
  data(){
    return {
      dataBack:json.backgroundTitle,   
      
    };
  }
};
</script>

<style lang="scss" scoped>
.section1 {
  box-sizing: border-box;
  min-height: 100%;
}

.background-wrapper {
  max-width: 100%;
  margin: 0 auto;
  font-size: 17px;
  line-height: 2.14286;
  font-weight: 400;
}
.background__inner {
  background-image: url(https://saferbag.de/wp-content/uploads/2018/05/Emotion_6.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
  height: 448px;
}

.post-wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
</style>
