<template>
  <div class="footer">
    <div class="container">
      <div class="footer__inner">
        <div class="site-info uncell col-lg-6 pos-middle text-left">
          © 2021 Saferbag All rights reserved
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.footer {
  background-color: #b80b09;
  height:80px;
  
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  font-size: 17px;
  line-height: 2.14286;
  font-weight: 400;
}
.footer__inner {
  display: flex;

  flex-direction: column;

  justify-content: space-between;
  padding-top: 30px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  font-family: Roboto;
}
</style>
