<template>
  <div class="container">
    <div class="header__content">
      <div class="header__logo">
        <a href="https://saferbag.de/en"><img :src="data" alt=""/></a>
      </div>
      <b-nav small style="float:right;">
        <b-nav-item v-for="dataH in dataH" :key="dataH.id"
          >{{ dataH.name }}
        </b-nav-item>
        <!--b-nav-item >Video</b-nav-item>
        <b-nav-item >FAQ</b-nav-item>
        <b-nav-item >Kontakt</b-nav-item>
        <b-nav-item >Impressum</b-nav-item>
        <b-nav-item >Datenschutzerklärung</b-nav-item-->
        <b-nav-item v-for="dataFde in dataFde" :key="dataFde.id">
          <img :src="dataFde.name" class="wpml-ls-flag" alt="" />
        </b-nav-item>
        <!--b-nav-item disabled
          ><img
            src="https://saferbag.de/wp-content/plugins/sitepress-multilingual-cms/res/flags/en.png"
            class="wpml-ls-flag"
            alt="..."
        /></b-nav-item-->
      </b-nav>
      <div class="vertical-line"></div>

      <div class="h2 mb-0">
        <b-icon-search></b-icon-search>
      </div>
    </div>
  </div>
</template>

<script>
import json from "/data.json";
export default {
  data() {
    return {
      dataH: json.header,
      data: json.LogoImage,
      dataFde: json.langFlags
    };
  }
};
</script>

<style lang="scss" scoped>
.nav-link {
  color: black;
}

.nav-link:hover {
  color: grey;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  font-size: 17px;
  line-height: 2.14286;
  font-weight: 400;
}

.header__content {
  line-height: normal;
  display: flex;
  justify-content: space-between;
  height: 95px;
  align-items: center;
}
.header__logo img {
  height: 40px;
}
b-nav {
  color: black;
}

a:hover {
  color: grey;
  text-decoration: underline;
}

.vertical-line {
  width: 1px; /* Line width */
  background-color: grey; /* Line color */
  height: 95px; /* Override in-line if you want specific height. */
  float: center; /* Causes the line to float to left of content. 
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
  margin-right: 83px;
}
</style>
