<template>
  
    <div class="background-wrapper">
      <div class="background__inner" :style="dataImage"></div>
    </div>

</template>


<script >
  import json from "/data.json";
  export default {
   data(){
    return {
      dataImage:json.mainImage,   
      
    };
  }
  
 };
 
</script>

<style lang="scss" scoped>


.background-wrapper {
  max-width: 100%;
 
  margin: 0 auto;
 
  font-size: 17px;
  line-height: 2.14286;
  font-weight: 400;
}
.background__inner {

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  max-height:100%;
  max-width:100%;
  
  height:448px;

}
</style>
