<template>
  <div class="pricing-container">
    <div class="pricing-title">
      <h3>{{ this.dataPrice.PricingComponent_title }}</h3>
    </div>

    <div class="pricing-plan">
      <span class="price">{{ this.dataPrice.PricingComponent_plan }}</span>
    </div>

    <div class="plan-list">
      <ul class="item-list">
        <li v-for="dataPriceList in dataPriceList" :key="dataPriceList.id">
          {{ dataPriceList.name }}
        </li>
      </ul>
    </div>
  </div>
</template>



<script>
import json from "/data.json";
export default {
  data() {
    return {
      dataPrice: json,
      dataPriceList: json.PricingComponent_list,
    };
  },
};
</script>



<style >
.pricing-container {
  margin-top: 0px !important;
  font-size: 14px;
  font-family: Roboto;
  color: #777777;

  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.pricing-title {
  padding: 18px 36px 18px 36px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: #b80b09;
}

.pricing-title > h3 {
  font-size: 14px;
  line-height: 1.2;
  margin: 27px 0 0;
  margin: 0;
  color: white !important;
}

.pricing-plan {
  padding: 36px 36px 36px 36px;
  display: inline-block;
  width: 100%;
  height: 25px;
}

.price {
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: block;
  font-size: 56px;
  line-height: 1;
  margin: 0;
  letter-spacing: 0 !important;
  font-size: 20px !important;
  color: black;
}

.plan-list {
}

.item-list {
  list-style: none !important;
  margin: 0;
  padding: 0px 0px 0px 0px !important;
  list-style: none !important;
  color: #777777;
}

.item-list > li {
  padding: 9px 36px 9px 36px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #eaeaea;
  font-size: 15px;
  line-height: 1.75;
  margin: 18px 0 0;
}
</style>
