<template>
<div class="slider-container">


   <div>
  <b-carousel
    id="carousel-fade"
    style="text-shadow: 0px 0px 2px #000"
    fade
    indicators
    img-width="1024"
    img-height="480"
  >
    <b-carousel-slide v-for="SliderImage in SliderImage" :key="SliderImage.id"
      
        :img-src="SliderImage.url"
    ></b-carousel-slide>
   
  </b-carousel>
</div>

</div>


</template>


<script>
  import Data from "/data.json";
  export default {
   data(){
    return {
      SliderImage:Data.SliderImage,
     
    };
  }
  
 };
</script>



<style lang="scss" scoped>
    .slider-container{
        margin-top:120px;
    }
</style>
