<template>
  <div class="special-container">
    <div class="special-title">
      <span id="special-span1">{{ this.SpecialTextTilte1 }}</span>
      <span id="special-span2"> {{ this.SpecialTextTilte2 }}</span>
    </div>

    <div class="special-text">
      <div class="special-text_iner">
        <p v-for="SpecialTextText in SpecialTextText" :key="SpecialTextText.id">
          {{ SpecialTextText.name }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Data from "/data.json";
export default {
  data() {
    return {
      SpecialTextTilte1: Data.SpecialTextTilte1,
      SpecialTextTilte2: Data.SpecialTextTilte2,
      SpecialTextText: Data.SpecialTextText,
    };
  },
};
</script>

<style lang="scss" >
.special-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#special-span1 {
  color: black;
  font-size: 18px;
  font-weight: bold;
}
#special-span2 {
  color: red;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

.special-text {
  display: flex;
  overflow: hidden;
  margin-top: 50px;
}
.special-text_iner span {
  width: 700px;
}
.special-container {
  font-size: 14px;
  font-family: Roboto;
  color: #777777;
}
</style>
