<template>
  <div id="app">
    <div class="wrapper">
      <div class="content">
        <Header />
        <BodyContent />
      </div>
      <Footer />
    </div>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";
import BodyContent from "./components/BodyContent.vue";

export default {
  name: "App",
  components: {
    Header,
    BodyContent,
    Footer,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
  min-height: calc(100vh - 80px);
  
}
* {
	margin: 0;
	padding: 0;
}
</style>
